@media screen and (max-width:1300px){
    .barra-lateral{
        min-width:auto;
    }
    .barra-lateral .logo{
        display:none;
    }
    .barra-lateral .menu a span{
        display:none;
    }
    .barra-lateral .menu a i{
        margin:0;
    }
}
@media screen and (max-width:575px){
    .barra-lateral{
        min-height:auto;
    }
    .barra-lateral .menu a{
        display:inline-block;
        border-bottom:none;
    }
}